body {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #000000;
  color: #00ff00;
}

h1 {
  font-weight: 900;
  font-size: 5em;
  line-height: 1;
  margin: 1.5rem 0 1rem;
}

h2 {
  font-weight: 900;
  font-size: 2.5em;
  line-height: 1;
  margin: 1.5rem 0 1rem;
}

a, a:visited {
  color: #00ff00;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 16px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(var(--angle));
  height: 100vh;
}

.glow {
  filter: drop-shadow(0px 0px 20px #00ee00);
}

.glow-text {
  text-shadow: 0px 0px 20px #00ee00;
}

.margin-top {
  margin-top: 30px;
}

.fancy-link:visited {
  color: #00cc00
}

.fancy-link {
  color: #00cc00;
  transition: color 0.1s, background-color 0.1s;
  background-color: #00330099;
  text-decoration: none;
  border-radius: 8px;
  padding: 0.16em 0.3em;
  margin: -0.2em 0;
  line-height: 1.7;
}

.fancy-link:hover {
  color: #00ff00;
  background-color: #00880099;
}

.header {
  height: 100px;
  background-image: linear-gradient(green, black);
}

body {
  align-items: center;
}

.hover-cursor {
  cursor: pointer;
}
