body {
  overflow: hidden;
}

.background {
  transform: rotate(0deg);
  background-image: conic-gradient(black 30%, green);
  position: absolute;
  left: calc((100vw - max(200vh, 200vw)) / 2);
  bottom: calc((100vh - max(200vh, 200vw)) / 2);
  height: calc(max(200vh, 200vw));
  width: calc(max(200vh, 200vw));
  background-size: calc(max(200vh, 200vw)) calc(max(200vh, 200vw));
  animation: 5s rot linear infinite;
  overflow: hidden;
  z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
  .background {
    animation: none;
  }
}

@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
