<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="/common.css">
    <script src="/cta.js"></script>

    {% if page %}
      {% set title = page.title %}
      {% set description = page.description %}
    {% elif section %}
      {% set title = section.title %}
      {% set description = section.description %}
    {% else %}
      {% set title = "" %}
      {% set description = "" %}
    {% endif %}

    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />

    {% block head %} {% endblock head %}
  </head>
  <body>
    {% block content %} {% endblock content %}
  </body>
</html>

